.App {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: small;
}

.App-header {
  background-color: #d3d3d3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 40vw;
  max-width: 80vw;
}

.content div {
  display: inline-grid;
}

.card {
  margin-top: 5vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  width: 15vw;
  min-height: 20vh;
}

.start-time {
  font-size: smaller;
}

.heading {
  font-size: 15;
  font-weight: normal;
}

.accordion {
  margin-top: 5vh;
}

.footer-button {
  margin: 5vh;
}
